body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 1832px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */


body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app {
  display:flex;
  flex-direction: column;
}

.post-view {
  display: flex;
  width: 1400px;
  min-height: 800px; 
  border: 2px solid red;
}

.post-list {
  display: flex;
  width: 1200px;
  border: 2px solid purple;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
  background: rgb(118, 164, 142);
  padding: 1rem;

}

.post {
  min-width: 250px;
  max-width: 250px;
  min-height: 150px;
  max-height: 150px;
  flex-grow: 1;
  background-color: rgb(170, 170, 170); /* Card background */
  border-radius: 10px; /* Rounded corners */
  border: 8px solid rgb(66, 66, 66);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a floating effect */
  padding: 1rem; /* Padding inside the card */
  display: flex; /* Flexbox for content alignment */
  margin: 0.5rem;
  flex-direction: column; /* Stack content vertically */
  justify-content: space-evenly; /* Space between content */
  transition: transform 0.1s ease; /* Smooth hover effect */
}

.post-details {
  max-width: 400px;
  flex-grow: 1;
  background-color: rgb(170, 170, 170); /* Card background */
  border-radius: 10px; /* Rounded corners */
  border: 8px solid rgb(66, 66, 66);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a floating effect */
  padding: 1rem; /* Padding inside the card */
  display: flex; /* Flexbox for content alignment */
  margin: 0.5rem;
  flex-direction: column; /* Stack content vertically */
  justify-content: space-evenly; /* Space between content */
  transition: transform 0.1s ease; /* Smooth hover effect */
}

.post:hover {
  background: rgb(117, 162, 140)

}
.post h1 {
  font-size: 1.5rem; /* Large font size */
  font-weight: bold; /* Bold text */
  color: #333; /* Dark gray text color */
  margin-bottom: 1rem; /* Space below the heading */
  text-align: center; /* Center-align the text */
}
.post p {
  text-align: center;
}
.post footer {
  text-align: center;

}

.topic-search {
  align-self: center;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--dark);
  margin: 0;
  width: 100%;
  padding: 0.5rem;
}

.navbar-item {
  border: 2px solid green;
  flex-basis: 12.48%;
  list-style-type: none;
  text-align: center;
  color: var(--offWhite);
}

.navbar-link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

.navbar-logout {
  margin-left: auto;
}

.navbar-link:hover {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
}

/* This prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}
/* This prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}
/* This prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}